{% extends 'base.html' %}

{% block content %}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Incident Management System</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xm-3 text-center">
                                <i class="fa fa-bell fa-5x"></i>
                            </div>
                            <div class="col-xm-9 text-center">
                                <div class="huge">{{count_raised}}</div>
                                <div class = 'huge'>Incidents Raised</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xm-3 text-center">
                                <i class="fa fa-edit fa-5x"></i>
                            </div>
                            <div class="col-xm-9 text-center">
                                <div class="huge">{{count_progress}}</div>
                                <div class = 'huge'>In Progress</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xm-3 text-center">
                                    <i class="fa fa-check-square-o fa-5x"></i>
                                </div>
                                <div class="col-xm-9 text-center">
                                    <div class="huge">{{count_closed}}</div>
                                    <div class = 'huge'>Incidents Closed</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'row'>
            <div class='col-lg-8'>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-line-chart fa-fw"></i>Incident and Closure Trend
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <canvas id="Incident" width="300" height="100"></canvas>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class='col-lg-4'>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Notifications
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-sticky-note fa-fw"></i> {{pendinginvforu}} Investigations Pending for You 
                                    
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-file fa-fw"></i> {{pendingassignment}} Incidents Pending Assignment 
                                    
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-warning fa-fw"></i> {{pendinginvestigation}} Incidents Pending Investigation 
                                    
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-envelope fa-fw"></i> {{pendingvalidation}} Incidents Pending Validation
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-check-square fa-fw"></i> {{pendingclosure}} Incidents Pending Closure
                            </a>
                        </div>
                        <!-- /.list-group -->
                        <a href="imsview" class="btn btn-default btn-block">View All Incidents </a>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <div class=row>
            <div class='col-lg-7'>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart fa-fw"></i>Average TAT for Incident Closure
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <canvas id="Incidentbar" width="300" height=180"></canvas>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class='col-lg-5'>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list fa-fw"></i> Most Recent
                    </div>
                    <div class='panel-body'>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>    
                                        <th><div class='text-center'>ID</div></th>
                                        <th><div class='text-center'>Name</div></th>
                                        <th><div class='text-center'>Created On</div></th>
                                        <th><div class='text-center'>Incident progress</div></th>      
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if modellist %}
                                    {% for status, Mform, edit, delete in querystatus %}
                                        <tr>
                                            <td><div class= 'text-center'>{{ Mform.pt_id }}</div></td>
                                            <td><div class= 'text-center'>{{Mform.pt_name}}</div></td>
                                            <td><div class= 'text-center'>{{Mform.datetime_creation}}</div></td>
                                            <td><div class= 'text-center'>{{status}}</div></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                {% else %}
                                    <p>There are no previous forms.</p>
                                    {% endif %}    
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        
                    
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function()
    {
       $('#deleteconfirm').on('click',function()
       {
           return confirm ('Do you really want to delete?');
       });
    });

</script>
<script type="text/javascript">
    $(document).ready(function()
    {
        {%if messages %}
        {% for message in messages %}
        alert('{{message}}');
        {%endfor%}
        {%endif%}
       
    });

</script>
<script>
    $(document).ready(function() {
        var ctx = document.getElementById('Incident').getContext('2d');
        var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [{%for key, value in raisedline.items%} '{{key}}', {% endfor %}],
          datasets: [
            { data: [{%for key,value in raisedline.items%}'{{value}}', {% endfor %}],label: "incidents Raised",borderColor: "#3e95cd",fill: false}, 
            { data: [{%for key,value in closedline.items%}'{{value}}', {% endfor %}], label: "Incidents Closed", borderColor: "#8e5ea2",fill: false}, 
            
          ]
        },
        options: {
          title: {
            //display: true,
            //text: '{{name}} Comparision'
          }
        }
      });
    });
</script>
<script>
    $(document).ready(function() {
        var ctx = document.getElementById('Incidentbar').getContext('2d');
        var chart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [{%for key, value in tatdata.items%} '{{key}}', {% endfor %}],
          datasets: [
            { data: [{%for key,value in tatdata.items%}'{{value}}', {% endfor %}],
            label: "Average TAT",
            backgroundColor: "#3e95cd",
            borderColor: "#3e95cd",
            fill: false}, 
            
          ]
        },
        options: {
          title: {
            display: true,
            text: '{{name}} Comparision'
          }
        }
      });
    });
</script>
{%endblock%}
