{% extends 'base.html' %}
{% block content %}
            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Quality Dashboard</h1>
                        </div>
                        
                        <form action = 'quality', method="POST">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Select Location</label>
                                    <select name = 'locname' class="form-control">
                                        <option>All</option>
                                        {%for locname in LocationList%}
                                        <option>{{locname}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label >Select From Date: </label>
                                <div class="input-group date" data-provide="datepicker">
                                    
                                    <input type="date" class='form-control'id="FromDate" name="FromDate">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label >Select To Date: </label>
                                <div class="input-group date" class='form-control' data-provide="datepicker">
                                    
                                    <input type="date" class='form-control'id="ToDate" name="ToDate">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                                
                                                
                                <div class="form-group" >
                                    
                                <button type="submit" class="btn btn-success btn-lg btn-block" name = 'Search'>Search</button>    

                        </form>
                        
                                    
                        <!-- /.col-lg-12 -->
                    </div>
                            </div>
                    <!-- /.row -->
                </div>
                <div class="row">
                    
                    <h2><p class="text-success">{{Header}}</p></h2>
                </div>
                <div class="row">

                    {% for text, value in ContentDict.items %}
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{value}}</div>
                                        <div>{{text}}</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                    {% endfor %}
                </div>

                <!-- /.container-fluid -->
            </div>

            <!-- /#page-wrapper -->

        </div> 
        
<script type="text/javascript">
    $(document).ready(function()
    {
        
        document.getElementById('ToDate').valueAsDate = new Date();
        document.getElementById('FromDate').valueAsDate = new Date();
    });

</script>

{% endblock %}